* { box-sizing:border-box; }
html,body {
	margin:0px;
	padding:0px;
	height:100%;
}

body {
	background:url(gfx/bg.jpg) center center no-repeat;
	background-size:cover;
	color:#fff;
}

a:link,a:visited { color:#ccc; }
blockquote { margin:24px;padding:24px; }
h1,h2,h3,h4 { font-weight:normal;margin:0px;padding:0px; }
img { vertical-align:middle; }
p { margin:0px 0px 10px 0px; }
p:last-child { margin:0px; }
strong { color:#ee8811;font-weight:bold; }

#construct { margin:0px auto;width:960px; }

#header,
#main,
#footer,
pre {
	background:rgba(0,0,0,0.75);
	margin:16px 0px 16px 0px;
	overflow:auto;
	padding:10px;
}

#footer { font-size:12px; }
#footer > div:first-child { float:right; }
